/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg
{
    z-index: 0;
    width: 1200px;  
    height: 250px;
}

div.button-bar 
{
	position: relative;
	z-index: 0;
	display: inline-block;
    width: 1200px;  
    background-color: #eee;
	border-top: #000 solid 1px;
	border-bottom: #000 solid 1px;
}

div.button-group
{
	display: table;
	height: 34px;
	margin-left: 330px;
	width: 870px;
	color: #000;
	vertical-align: middle;
}

.goal-title
{
	width: 870px;
	font-weight: bolder;
	font-size: 16px;
	border-bottom: #000 solid 1px;
}

.btn-main
{
	display: inline-block;
	box-sizing: border-box;
	width: 20%;
	height: 34px;
	color: #000;
	vertical-align: middle;
	text-align: center;
}

.btn-main:hover
{
	border-bottom: #888 solid 2px;
}

.btn-goal
{
	display: inline-block;
	width: 120px;
	margin-right: 5px;
}

.btn-element
{
	display: inline-block;
	width: 100%;
	margin-right: 5px;
	text-align: left;
}

.btn-active
{
	border-bottom: #888 solid 2px;
}

.label-badge
{
	margin-top: 3px;
}

.fb-image-profile
{
	position: relative;
    margin: -90px 10px 0px 40px;
    z-index: 9;
    width: 250px; 
    height: 250px;
}
  
.fb-profile-text {
	width: 1200px;
	vertical-align: top;
}

.fb-profile-text-sub {
	display: inline-block;
	margin: 160px 0px 0px -260px;
	width: 250px;
	text-align: left;
}

.contens
{
	display: inline-block;
	vertical-align: top;
	/* border: #00f solid 1px; */
	margin: 20px 0px 0px 35px;
	width: 870px;
}

.btn-span
{
	display: block;
	margin-top: 5px;
}

.contents-sub
{
	border-top: #000 solid 1px;
	margin-top: -1px;
	padding-top: 20px;
}

.main-title 
{
	font-weight: 700;
    font-size:35px;
}

.small-font
{
	display: block;
	margin-top: -20px;
	color: #ddd;
	font-weight: 300;
    font-size:20px;
}

.profile-box
{
	border: #aaa solid 1px;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	padding : 10px 10px 0px 10px;
}

.form-box
{
	margin-bottom: 15px;
}

.form-box-inline
{
	margin-bottom: 15px;
	display: inline;
}

.social-login-btn {
  width: 15px;
  font-size: 80%;
}

.social-twitter {
  background-color: #3997ba;
  border-color: #347b95;
  color: #FFF;
}

.ico-twitter {
	margin-left: -3px;
}

.social-facebook {
  background-color: #47618d;
  border-color: #3c5173;
  color: #FFF;
}

._link-area
{
	display: inline-block;
	width: 100%;
	text-overflow:ellipsis;
	overflow:hidden; 
	white-space:nowrap;
}

@media (max-width:1024px)
{
	.contens
	{
		display: inline-block;
		vertical-align: top;
		/* border: #f00 solid 1px; */
		margin: 20px 0px 0px 35px;
		width: 65%;
	}
}


/* @media (max-width:768px)
{

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 20px;
    z-index: 9;
    width: 15%; 
}
} */