/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg
{
    z-index: 0;
    width: 100%;  
}

div.button-bar 
{
	position: relative;
	z-index: 0;
	display: inline-block;
    width: 100%;  
    background-color: #eee;
	border-top: #000 solid 1px;
	border-bottom: #000 solid 1px;
}

div.button-group
{
	display: table;
	height: 50px;
	margin-left: 330px;
	color: #000;
	vertical-align: middle;
}

div.button-group>.btn-main
{
	display: table-cell;
	width: 70px;
	height: 50px;
	color: #000;
	vertical-align: middle;
}

div.button-group>.btn-main:hover
{
	border-bottom: #00f solid 3px;
}

.fb-image-profile
{
	position: relative;
    margin: -90px 10px 0px 40px;
    z-index: 9;
    width: 250px; 
    height: 250px;
}
  
.fb-profile-text {
	width: 100%;
	vertical-align: top;
}

.fb-profile-text-sub {
	display: inline-block;
	margin: 160px 0px 0px -260px;
	width: 250px;
	text-align: left;
}

.contens
{
	display: inline-block;
	vertical-align: top;
	/* border: #00f solid 1px; */
	margin: 20px 0px 0px 35px;
	width: 70%;
}

.btn-span
{
	display: block;
	margin-top: 5px;
}

.btn-goal,  .btn-element
{
	width: 100%;
}

.btn-element
{
	text-align: left;
}

.contents-sub
{
	border-top: #000 solid 1px;
	margin-top: -1px;
	padding-top: 20px;
}

.main-title 
{
	font-weight: 700;
    font-size:35px;
}

.small-font
{
	display: block;
	margin-top: -20px;
	color: #ddd;
	font-weight: 300;
    font-size:20px;
}

.profile-box
{
	border: #aaa solid 1px;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	padding : 3px 3px 3px 3px;
}

.form-box
{
	margin-bottom: 15px;
}

.form-box-inline
{
	margin-bottom: 15px;
	display: inline;
}

@media (max-width:1024px)
{
	.contens
	{
		display: inline-block;
		vertical-align: top;
		/* border: #f00 solid 1px; */
		margin: 20px 0px 0px 35px;
		width: 65%;
	}
}

/* @media (max-width:768px)
{

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 20px;
    z-index: 9;
    width: 15%; 
}
} */